<h1>Editing ingestion</h1>

<%= render "form", ingestion: @ingestion %>

<br>

<div>
  <%= link_to "Show this ingestion", @ingestion %> |
  <%= link_to "Back to ingestions", ingestions_path %>
</div>
